<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lx.af.demo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".base.DemoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.ActivityMain"
            android:label="Demo for AppFrame"
            android:theme="@style/activity_theme_no_translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ActivityFilePickerDemo"
            android:label="File Picker" >
        </activity>
        <activity
            android:name=".activity.ActivityStorageUtilsDemo"
            android:label="Storage" >
        </activity>
        <activity
            android:name=".activity.ActivityPlayViewDemo"
            android:label="Video"
            android:theme="@style/activity_theme_no_translucent" >
        </activity>
        <activity
            android:name=".activity.ActivityAvatarDemo"
            android:label="Image Pick and Crop" >
        </activity>
        <activity
            android:name=".activity.ActivityHomeWatcherDemo"
            android:label="Home Key Watcher" >
        </activity>
        <activity
            android:name=".activity.ActivityAutoSlidePager"
            android:label="Auto Slide Pager" >
        </activity>

    </application>

</manifest>
