<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lx.af" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <activity
            android:name=".activity.ImageCropper.ImageCropActivity"
            android:label="@string/crop_image_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageSelector.ImageSelectActivity"
            android:label="@string/mis_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageSelector.ImageSelectBrowser"
            android:label="@string/mis_title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageBrowser.ImageBrowserActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageEditor.ImageEditorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageEditor.ImageBrowserEditActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mining.app.zxing.decoding.MipcaActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CodeScanner.CodeScannerActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
